RewriteEngine On
RewriteRule ^/?res/data/layouts/([A-Za-z0-9]+).js http://backend.layoutviewer.co.uk/getLayout/$1.js [P]
RewriteRule ^/?res/data/layouts/new http://backend.layoutviewer.co.uk/saveLayout [P]
